---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading">About EMBL</h1>
        <p class="vf-lede">EMBL is Europe’s leading life sciences laboratory</p>
        <p class="vf-intro__text">“So what paragraph - EMBL’s impact”</p>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
    <h2 class="vf-text vf-text-heading--3">Impact</h2>
    </div>
    <p class="vf-text--body vf-text-body--3">2000 scientists in six European locations
12000 scientific papers
11 partner institutions
Etc (NB these are not real numbers)
EMBL -  working for change in the life sciences
EMBL  - training the scientists of tomorrow
EMBL  - international cooperation through the life sciences (?)
</p>
</section>
<hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
    <div>
    <h2 class="vf-text vf-text-heading--3">Mission</h2>
    </div>
    <div>
    <p class="vf-text--body vf-text-body--3">To promote molecular biology across Europe</p>
<p class="vf-text--body vf-text-body--3">To create a centre of excellence for Europe's leading young molecular biologists
</p>
</div>
</section>
 <section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Research
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Services
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Conferences
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
 </section>
  <section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Courses
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Seminars
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Technology Transfer
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
  </section>
  <hr class="vf-divider">
<h2 class="vf-summary__title">EMBL Sites</h2>
<div class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--lg">
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Heidelberg
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Hinxton
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Hamburg
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
    </div>
<div class="vf-grid | vf-grid__col-3">
    <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Rome
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Grenoble
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Barcelona
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
</div>
<section class="embl-grid embl-grid--has-centered-content | vf-u-margin__top--xxl">
    <div>
    <h2 class="vf-text vf-text-heading--3">About the organisation</h2>
    </div>
    <div>
            <div class="vf-grid | vf-grid__col-3">
        <div>
                    <div class="vf-links">
                <ul class="vf-links__list | vf-list">
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
                            <div class="vf-links">
                <ul class="vf-links__list | vf-list">
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
                            <div class="vf-links">
                <ul class="vf-links__list | vf-list">
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                    <li class="vf-list__item">
                        <a class="vf-list__link" href="JavaScript:Void(0);">
                            Link </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>  
<hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h2 class="vf-text vf-text-heading--3">Support EMBL</h2>
    </div>
    <div>
    <p class="vf-text--body vf-text-body--3">Innovation in the life sciences is rooted in fundamental research. Today’s technology and improved living conditions are the fruits of our past investments in science. By supporting EMBL research with your philanthropic contribution, you are enabling progress in its purest form.</p>
    <a id="harsh" href="#" class="vf-link ">Find out more about how you can support EMBL</a>
    </div>
    </section>
    <hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h2 class="vf-text vf-text-heading--3">Alumni</h2>
    </div>
    <div>
    <p class="vf-text--body vf-text-body--3">The EMBL Alumni Relations programme fosters connections between the laboratory, its member states, current EMBL staff, EMBL alumni and the public.</p>
    <a id="harsh" href="#" class="vf-link ">Find out more about EMBL Alumni</a>
    </div>
    </section>
        <hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h2 class="vf-text vf-text-heading--3">Jobs</h2>
    </div>
  <div>
    <link rel="import"
      href="https://dev.content.embl.org/api/v1/pattern.html?pattern=vf-jobs-snippet&filter-content-type=jobs&filter-field-contains[field_jobs_description]=Cancer&filter-field-date-after[field_jobs_expiration]=today&limit=3"
      data-target="self" data-embl-js-content-hub-loader>
  </div>
    </section>

