---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading">About EMBL</h1>
        <p class="vf-lede">EMBL is Europe’s leading life sciences laboratory</p>
        <p class="vf-intro__text">“So what paragraph - EMBL’s impact”
2000 scientists
12000 scientific papers
11 partner insitutions
EMBL is working for change in the life sciences
EMBL educates the scientists of tomorrow
EMBL promotes international cooperation and peace through the life sciences
</p>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
    <h2 class="vf-summary__title">Impact</h2>
    </div>
    <p class="vf-summary__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique neque sed porta
      elementum. Pellentesque accumsan convallis imperdiet. Suspendisse vitae dictum leo, sed ultricies enim. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus nulla ligula, sagittis vitae
      purus quis, consectetur pretium leo. Fusce a diam est. Morbi euismod iaculis lacinia. Etiam aliquam facilisis
      eleifend. Maecenas odio eros, pharetra ac dolor et, suscipit bibendum quam. Sed nec tortor ac nisl consequat
      sollicitudin quis eu ligula. Vestibulum a rutrum turpis. Donec imperdiet at lorem ut efficitur.</p>
</section>
<hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
    <div>
    <h2 class="vf-summary__title">Mission</h2>
    </div>
    <p class="vf-summary__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique neque sed porta
      elementum. Pellentesque accumsan convallis imperdiet. Suspendisse vitae dictum leo, sed ultricies enim. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus nulla ligula, sagittis vitae
      purus quis, consectetur pretium leo. Fusce a diam est. Morbi euismod iaculis lacinia. Etiam aliquam facilisis
      eleifend. Maecenas odio eros, pharetra ac dolor et, suscipit bibendum quam. Sed nec tortor ac nisl consequat
      sollicitudin quis eu ligula. Vestibulum a rutrum turpis. Donec imperdiet at lorem ut efficitur.</p>
</section>
<hr class="vf-divider">
<h2 class="vf-summary__title">Sites</h2>
<div class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--lg">
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Heidelberg
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Hinxton
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Hamburg
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
    </div>
<div class="vf-grid | vf-grid__col-3">
    <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Rome
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Grenoble
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Barcelona
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
</div>
<section class="embl-grid embl-grid--has-centered-content | vf-u-margin__top--xxl">
    <div>
    <h2 class="vf-summary__title">Organisation</h2>
    </div>
    <p class="vf-summary__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique neque sed porta
      elementum. Pellentesque accumsan convallis imperdiet. Suspendisse vitae dictum leo, sed ultricies enim. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus nulla ligula, sagittis vitae
      purus quis, consectetur pretium leo. Fusce a diam est. Morbi euismod iaculis lacinia. Etiam aliquam facilisis
      eleifend. Maecenas odio eros, pharetra ac dolor et, suscipit bibendum quam. Sed nec tortor ac nisl consequat
      sollicitudin quis eu ligula. Vestibulum a rutrum turpis. Donec imperdiet at lorem ut efficitur.</p>
</section>  
<hr class="vf-divider">
    <h2 class="vf-summary__title">General information</h2>
    <div class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--lg">
  <div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
    </div>
